* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: arial;
	outline: none;
}

h1 {
	text-align: center;
}

.menu-container {
	display: flex;
	justify-content: center;
	background: #1A96FF;
}

.controls {
	height: 50px;
	width: 100%;
	background: #1A96FF;
	display: flex;
	justify-content: space-between;
}

.control-button {
	height: 100%;
	padding: 5px;
	font-size: 19px;
	border: 0;
	color: #FFF;
	background-color: #1A96FF;
}

.control-button:hover {
	background-color: #008BFF;
}

.control-button:active {
	background-color: #33A2FF;
}

.select {
	font: inherit;
}

.main-container {
	background: #F5F5F5;
	display: flex;
	justify-content: center;
}

.sub-container {
	padding: 0 3px 4px 3px;
}

.table,
.table td {
	border: 1px solid black;
}

.table {
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
}

.table td {
	height: 25px;
	width: 35px;
	text-align: center;
}

.table tr:nth-child(odd) {
	font-weight: bold;
	background: #33A2FF;
	color: white;
}

.table tr:nth-child(even) {
	background: #FFF;
}

/* Classes for cell highlight */
.hlon {
	background: #666;
	color: #FFF;
}

.text-input {
	resize: none;
}

.code-container {
	display: flex;
	flex-direction: column;
}

.code-input {
	height: 100%;
	width: 100%;
}

.io-container {
	display: flex;
	flex-direction: column;
}

.io-box {
	display: flex;
	flex-direction: column;
	height: 100%;
	max-width: 100%;
}

.io-input {
	width: 120px;
	height: 100%;
}

@media only screen and (min-width: 651px) {
	.controls {
		width: 650px;
	}
}
